
<div *ngIf="!species" class="h-screen flex flex-wrap justify-center items-center">
  <mat-spinner></mat-spinner>
</div>

<div id="details-bg" *ngIf="species">
  <div class="flex items-center space-x-4 ml-[100px] pt-[40px]">
    <a [routerLink]="['/main']" routerLinkActive="router-link-active" class="text-blue-500 hover:underline">Main</a>
    <span class="text-gray-500 mx-4">/</span>
    <a (click)="navigateToSpecies()" class="text-blue-500 hover:underline cursor-pointer">Species</a>
    <span class="text-gray-500 mx-4">/</span>
    <p class="text-gray-700">{{ species.name }}</p>
  </div>

  <div class="flex justify-center items-center">
    <div class="w-96 h-96 flex justify-center items-center" *ngIf="!species">
      <mat-spinner class="spinner" *ngIf="!species"></mat-spinner>
    </div>

    <div class="flex w-max rounded shadow-lg mx-4 my-6 bg-white justify-center items-center" *ngIf="species">
      <img class="w-76" [src]="getImagePath()" alt="Species Image" />

      <div class="w-72">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ species.name }}</div>
          <p><strong>Classification:</strong> {{ species.classification }}</p>
          <p><strong>Designation:</strong> {{ species.designation }}</p>
          <p><strong>Average Height:</strong> {{ species.average_height }}</p>
          <p><strong>Skin Colors:</strong> {{ species.skin_colors }}</p>
          <p><strong>Hair Colors:</strong> {{ species.hair_colors }}</p>
          <p><strong>Eye Colors:</strong> {{ species.eye_colors }}</p>
          <p><strong>Average Lifespan:</strong> {{ species.average_lifespan }}</p>
          <p><strong>Homeworld:</strong> <a [routerLink]="['/planet', getEntityId(species.homeworld)]" target="_blank">Homeworld</a></p>
          <p><strong>Language:</strong> {{ species.language }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- other info -->
  <div class="bg-gradient-to-r from-gray-800 to-black">
    <div class="bg-gradient-to-r from-gray-800 to-black">
      <div
        class="header flex justify-center items-center bg-gradient-to-r from-rose-600 via-cyan-900 to-blue-600 py-1 mb-[30px]"
      >
        <img width="30px" src="assets/icons/light-saber.png" alt="light-saber" />
        <h2 class="block text-xl text-center mx-4 text-black rounded-md">
          Films
        </h2>
        <img width="30px" src="assets/icons/light-saber.png" alt="light-saber" />
      </div>
      <div
        id="films"
        class="mx-6 flex justify-center"
        *ngIf="species.films && species.films.length > 0"
      >
        <ul class="ml-4 flex gap-8">
          <li *ngFor="let film of species.films">
            <a
              [routerLink]="['/film', getEntityId(film)]"
              target="_blank"
              class="text-blue-500 hover:underline mt-5"
            >
              Episode: {{ getEntityId(film) }}
            </a>
            <img
              class="w-40 rounded"
              [src]="getImageUrl(film, 'films')"
              alt=""
            />
          </li>
        </ul>
      </div>


      <div class="header flex justify-center items-center py-2">
        <h2
          *ngIf="species.people && species.people.length > 0"
          class="block text-xl text-center mx-4 text-black rounded-md mt-[50px] px-10 bg-gradient-to-r from-rose-600 via-cyan-900 to-blue-600"
        >
          People
        </h2>
      </div>
      <div
        id="people"
        class="mx-6 flex justify-center pb-10"
        *ngIf="species.people && species.people.length > 0"
      >
        <ul class="ml-4 flex gap-8">
          <li *ngFor="let character of species.people">
            <a
              [routerLink]="['/character', getEntityId(character)]"
              target="_blank"
              class="text-blue-500 hover:underline"
            >
              Character ID: {{ getEntityId(character) }}
            </a>
            <img
              class="w-40 rounded"
              [src]="getImageUrl(character, 'characters')"
              alt=""
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
