<div class="sidenav flex flex-col justify-between bg-gray-800 fixed h-screen">
  <div
  class="entities flex flex-col items-center p-4 text-white w-[200px] pt-8"
  >
  <img routerLink="/main" class="mb-10 cursor-pointer" src="assets/icons/star-wars-logo.png" width="100px" alt="star wars icon">
  <h2 class="text-lg font-semibold mb-2">
    <a routerLink="/characters" class="text-gray-500 hover:text-red-700">Characters</a>
  </h2>
  <h2 class="text-lg font-semibold mb-2">
    <a routerLink="/planets" class="text-gray-500 hover:text-red-700">Planets</a>
  </h2>
  <h2 class="text-lg font-semibold mb-2">
    <a routerLink="/films" class="text-gray-500 hover:text-red-700">Films</a>
  </h2>
  <h2 class="text-lg font-semibold mb-2">
    <a routerLink="/species" class="text-gray-500 hover:text-red-700">Species</a>
  </h2>
  <h2 class="text-lg font-semibold mb-2">
    <a routerLink="/vehicles" class="text-gray-500 hover:text-red-700">Vehicles</a>
  </h2>
  <h2 class="text-lg font-semibold mb-2">
    <a routerLink="/starships" class="text-gray-500 hover:text-red-700">Starships</a>
  </h2>
  </div>

  <div class="links text-sm mb-5 ml-5">
    <div class="linkedin flex items-end items-center mb-2">
      <img
        src="assets/icons/linkedin-icon.png"
        class="w-5 h-5 mr-1"
        alt="linkedin icon"
      />
      <a
        href="https://www.linkedin.com/in/abror-mukhammadiev-a74b9a205/"
        class="text-blue-500 hover:text-blue-700"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
    </div>

    <div class="github flex items-center">
      <img
        src="assets/icons/github-icon.png"
        class="w-5 h-5 mr-1"
        alt="github icon"
      />
      <a
        href="https://github.com/abrorm3"
        class="text-blue-500 hover:text-blue-700"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub
      </a>
    </div>
  </div>
</div>
